


body{
    background-image: url(https://image.freepik.com/free-vector/earth-map-linear-composition_1284-34070.jpg);
text-align: center;
background-position: center ;
background-size: cover;
background-attachment: fixed;
    
}
#gameboard{
    border-width: 2px;
    font-size: 25px;
    margin-right: auto;
    margin-left: auto;
    width: 410px;
    background-color: whitesmoke;
    opacity: 90%;

}
td{
    width: 150px;
    height: 100px;
}
h1{
    font-size: 70px;
}
h4{
    font-size: 40px;
}
ul{
    font-size: 25px;
}